@font-face {
  font-family: "montserrat";
  src: url("Assets/montserrat/Montserrat-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

* {
  font-family: Montserrat;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#home, #about {
  text-decoration: none;
  color: #FF6060;
  font-size: 24px;
}

#about {
  margin-left: 57px;
}

a#home:active {
  text-decoration: underline;
}

a#about:active {
  text-decoration: underline;
}

#header {
  width: 1240px;
  margin: 40px auto 63px auto;
  display: flex;
  justify-content: space-between;
}

#home-banner {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("Assets/home-banner.png");
  width: 1240px;
  height: 223px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.banner-title {
  position: absolute;
  color: white;
  font-size: 48px;
  margin: 78px 262px 77px 273px;
}

#main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  border-radius: 25px;
  width: 1240px;
  height: 829px;
  margin: 43px auto 0px;
  padding-top: 56px;
}

.location {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url("Assets/red-block.png");
  width: 340px;
  height: 340px;
  border-radius: 10px;
}

.location-title {
  width: 100px;
  color: white;
  font-size: 18px;
  margin: 268px 20px 20px;
}

#footer {
  background-color: black;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 28px;
  margin-top: 43px;
}

#logo-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

#about-banner {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("Assets/about-banner.png");
  width: 1240px;
  height: 223px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

#title {
  width: 1023px;
  height: 47px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  background-color: #FF6060;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

#description {
  width: 1023px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F7F7F7;
  color: #FF6060;
}

h1 {
  font-size: 24px;
  padding-left: 18px;
  padding-top: 9px;
}

h1:hover {
  cursor: pointer;
}

p.description {
  margin: 0;
  padding: 34px 27px 19px 18px;
  font-size: 24px;
}

.arrow {
  position: relative;
  left: 95%;
  bottom: 100%;
}