@font-face {
  font-family: "montserrat";
  src: url("Assets/montserrat/Montserrat-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

* {
  font-family: Montserrat, Arial, sans-serif;
}

#container {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  text-decoration: none;
}

a.underline {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#home, #about {
  color: #FF6060;
  font-size: 24px;
}

#about {
  margin-left: 57px;
}

#header {
  margin: 40px auto 63px auto;
  display: flex;
  justify-content: space-between;
}

.banner {
  width: 100%;
  border-radius: 25px;
}

#home-banner {
  height: 223px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("Assets/home-banner.png");
}

.banner-title {
  width: 86%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 48px;
  margin-top: 5.5%;
}

#main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  border-radius: 25px;
  margin: 43px auto 0;
  padding-top: 31px;
  padding-bottom: 31px;
}

.location-card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin: 25px 25px;
  object-fit: cover;
}

.location-title {
  position: absolute;
  width: 235px;
  color: white;
  font-size: 18px;
  margin: 301px 40px 20px 50px;
}

#footer {
  background-color: black;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 28px;
  margin-top: 43px;
}

#logo-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

#about-banner {
  height: 223px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("Assets/about-banner.png");
}

#collapse-container {
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  height: 47px;
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  background-color: #FF6060;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  padding-left: 18px;
  padding-top: 9px;
}

h1:hover {
  cursor: pointer;
}

.descriptions {
  background-color: #F7F7F7;
  color: #FF6060;
  border-radius: 5px;
  padding: 34px 27px 19px 18px;
}

p.description {
  max-width: 1023px;
  margin: 0;
  font-size: 24px;
}

.arrow {
  position: relative;
  left: 93%;
  bottom: 100%;
}

#error-number{
  text-align: center;
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
  margin-top: 163px;
  margin-bottom: 0;
}

#error-text {
  text-align: center;
  color: #FF6060;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 182px;
}

a#error-link {
  display: flex;
  justify-content: center;
  color: #FF6060;
  font-size: 18px;
  text-decoration: underline;
}

#location-banner {
  display: flex;
  justify-content: center;
  height: 415px;
  object-fit: cover;
}

#location-title {
  padding-left: 0;
}

#tags {
  display: flex;
  justify-content: space-between;
}

#location-detail {
  color: #FF6060;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

#contact-detail {
  display: flex;
  flex-direction: column;
}

#location-contact {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

#host {
  margin-left: 10px;
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

p#name {
  margin-top: 10px;
  width: 90px;
}

.tag {
  margin-top: 2px;
  margin-right: 10px;
  padding: 3px 41px 2px 40px;
  color: white;
  font-size: 14px;
  background-color: #FF6060;
  border-radius: 10px;
}

#location-collapse {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

div.location-description p.description {
  /*font-size: 18px;*/
}

.location-description {
  min-width: 335px;
  flex: 1;
}

img.arrow-next, .arrow-previous {
  position: absolute;
  top: 334px;
  cursor: pointer;
}

img.arrow-next {
  right: 8.5%;
}

img.arrow-previous {
  left: 8.5%;
}

.carrousel-text {
  color: white;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  top: 530px;
  right: 50%;
}

@media only screen and (max-width : 768px) {
  div#container {
    width: 89.34%;
    margin-left: auto;
    margin-right: auto;
  }

  #header {
    height: 47px;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  #logo {
    width: 145px;
    height: 47px;
  }

  ul {
    text-transform: uppercase;
  }

  a#home, a#about {
    font-size: 12px;
  }

  a#about {
    margin-left: 10px;
  }

  #home-banner {
    height: 111px;
    background-position: center;
    border-radius: 10px;
  }

  .banner-title {
    width: 59%;
    font-size: 24px;
    margin: 32px 16px;
    line-height: 24px;
    text-align: left;
  }

  div#main {
    display: block;
    background-color: white;
    height: auto;
    margin-top: 0;
    padding: 0;
  }

  img.location-card {
    width: 100%;
    height: 255px;
    margin: 20px 0 0;
  }

  .location-title {
    margin: 221px 20px 15px 20px;
  }

  div#footer {
    margin-top: 20px;
  }

  img#logo-rights-footer {
    width: 50%;
  }

  /* location */
  img#location-banner.banner {
    height: 255px;
    border-radius: 10px;
  }

  img.arrow-previous, img.arrow-next {
    width: 12px;
    height: 20px;
    top: 200px;
  }

  .carrousel-text {
    display: none;
  }

  h1#location-title {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  #tags {
    justify-content: left;
  }

  p.tag {
    width: 84px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 4px 0 0;
  }

  #location-detail {
    display: flex;
    flex-direction: column;
  }

  #contact-detail {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #location-contact {
    margin-top: 0;
  }

  #rating {
    display: flex;
  }

  img.rating {
    width: 15px;
    height: 15px;
    align-self: center;
  }

  img#host {
    margin: 0;
    width: 32px;
    height: 32px;
    align-self: center;
  }

  p#name {
    width: 60px;
    align-self: center;
    font-size: 12px;
  }

  h1 {
    font-size: 13px;
  }

  img.arrow {
    width: 17px;
    bottom: 119%;
  }

  div.descriptions p.description {
    font-size: 12px;
  }

  /* About */
  div#about-banner.banner {
    height: 223px;
    border-radius: 10px;
    background-position: right;
  }

  #title {
    height: 30px;
    margin-top: 20px;
  }

  img.arrow {
    left: 93%;
  }

  p.description {
    font-size: 12px;
  }

  /* error */
  p#error-number {
    font-size: 96px;
    margin-top: 195px;
  }

  p#error-text {
    width: 58%;
    margin: 0 auto 133px auto;
    font-size: 18px;
    line-height: 25px;
  }

  a#error-link {
    font-size: 14px;
  }
}