@font-face {
  font-family: "montserrat";
  src: url("Assets/montserrat/Montserrat-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

* {
  font-family: Montserrat, Arial, sans-serif;
}

a:link {
  text-decoration: none;
}

a.underline {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

#home, #about {
  color: #FF6060;
  font-size: 24px;
}

#about {
  margin-left: 57px;
}

#header {
  width: 86%;
  margin: 40px auto 63px auto;
  display: flex;
  justify-content: space-between;
}

.banner {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

#home-banner {
  height: 223px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("Assets/home-banner.png");
}

.banner-title {
  position: absolute;
  color: white;
  font-size: 48px;
  margin: 78px 262px 77px 273px;
}

#main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #F7F7F7;
  border-radius: 25px;
  width: 86%;
  margin: 43px auto 0;
  padding-top: 56px;
}

.location-card {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 340px;
  height: 340px;
  border-radius: 10px;
  margin-bottom: 50px;
  object-fit: cover;
}

.location-title {
  position: absolute;
  width: 235px;
  color: white;
  font-size: 18px;
  margin: 268px 20px 20px;
}

#footer {
  background-color: black;
  text-align: center;
  padding-top: 68px;
  padding-bottom: 28px;
  margin-top: 43px;
}

#logo-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

#about-banner {
  height: 223px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("Assets/about-banner.png");
}

.width-margin-about {
  width: 1023px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  height: 47px;
  margin-top: 33px;
  background-color: #FF6060;
  color: white;
  font-size: 24px;
  border-radius: 5px;
}

#description {
  background-color: #F7F7F7;
  color: #FF6060;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  padding-left: 18px;
  padding-top: 9px;
}

h1:hover {
  cursor: pointer;
}

p.description {
  margin: 0;
  padding: 34px 27px 19px 18px;
  font-size: 24px;
}

.arrow {
  position: relative;
  left: 95%;
  bottom: 100%;
}

#error-number{
  text-align: center;
  font-size: 288px;
  font-weight: 700;
  color: #FF6060;
  margin-top: 163px;
  margin-bottom: 0;
}

#error-text {
  text-align: center;
  color: #FF6060;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 182px;
}

a#error-link {
  display: flex;
  justify-content: center;
  color: #FF6060;
  font-size: 18px;
  text-decoration: underline;
}

#location-banner {
  display: flex;
  justify-content: center;
  height: 415px;
  object-fit: cover;
}

#location-title {
  padding-left: 0;
}

#tags {
  display: flex;
  justify-content: space-between;
}

.width-margin-location {
  width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

#location-detail {
  color: #FF6060;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

#contact-detail {
  display: flex;
  flex-direction: column;
}

#location-contact {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

#host {
  margin-left: 10px;
  margin-bottom: 24px;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

p#name {
  margin-top: 10px;
  width: 90px;
}

.tag {
  margin-top: 2px;
  margin-right: 10px;
  padding: 3px 41px 2px 40px;
  color: white;
  font-size: 14px;
  background-color: #FF6060;
  border-radius: 10px;
}

div#title.data {
  width: 582px;
  margin-top: 0;
}

div#description.location-data {
  width: 550px;
  height: 156px;
  font-size: 18px;
  padding: 40px 12px 53px 20px;
  margin: 0;
  line-height: 26px;
}

#options {
  display: flex;
  justify-content: space-between;
}

p.location-description {
  font-size: 18px;
}

.location-arrow {
  left: 93%;
}

p.description.location-description {
  padding: 0;
}

p.description.equipments-description {
  font-size: 18px;
  padding: 0;
}

@media only screen and (min-width : 375px) and (max-width : 768px) {
  #header {
    width: 89%;
    height: 47px;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  #logo {
    width: 145px;
    height: 47px;
  }

  a#home {
    font-size: 12px;
    text-transform: uppercase;
  }

  a#about {
    margin-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
  }

  #home-banner {
    width: 89%;
    height: 111px;
    background-position: center;
  }

  .banner-title {
    font-size: 24px;
    margin: 31px 102px 32px 16px;
    line-height: 24px;
  }

  div#main {
    background-color: white;
    width: 335px;
    height: auto;
    margin-top: 0;
    padding-top: 22px;
  }

  a.location-card {
    height: 255px;
    margin-bottom: 20px;
  }

  .location-title {
    margin: 188px 20px 15px 20px;
  }

  div#footer {
    margin-top: 20px;
  }

  img#logo-rights-footer {
    width: 50%;
  }
}